/* search.module.css */

/* Styles for the main container */
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: #333333;
  color: #e5e5e5;
}

/* Styles for the title */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* Styles for the search form */
.form {
  width: 100%;
  margin: 8px 0;
}

.form input {
  width: 100%;
  padding: 8px 16px;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #e5e5e5;
}

/* Styles for the results title */
.results-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #e5e5e5;
}

/* Styles for the results list */
.results-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas em dispositivos maiores */
  gap: 8px;
  justify-content: center;
}

/* Styles for the anime item */
.anime-item {
  background-color: rgba(229, 229, 229, 0.2);
  border-radius: 4px;
  transition: all 0.3s;
}

.anime-item:hover {
  background-color: #999999;
  box-shadow: 0 0 8px rgba(229, 229, 229, 0.5);
}

.anime-item img {
  width: 100%;
  object-fit: contain;
}

.anime-item p {
  padding: 16px;
  color: #e5e5e5;
  font-size: 1rem;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .results-list {
    grid-template-columns: repeat(1, 1fr); /* Uma coluna para dispositivos menores que 600 pixels */
  }

  /* Novo estilo para criar duas colunas */
  .anime-item {
    width: 48%; /* 48% de largura para caber duas colunas em dispositivos menores */
  }
}
