..main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #222222;
  color: #ffffff;
}

.sidebar {
  width: 100%;
  background-color: #333333;
  padding: 2rem;
}

.categoryName {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #f2c14e;
}

.categoryIcon {
  width: 100%;
  object-fit: contain;
}

.episodeSection {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.episodeHeader {
  width: 100%;
  background-color: #3e3e3e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.episodeTitle {
  font-size: 1.25rem;
  color: #f2c14e;
}

.episodeList {
  width: 100%;
}

.episodeItem {
  background-color: #5b5b5b;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.episodeButton {
  width: 100%;
  text-align: left;
  color: #ffffff;
}

.videoSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  border-radius: 0.125rem;
  color: #ffffff;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.closeButton:hover {
  color: #f2c14e;
  background-color: #3e3e3e;
}

.video {
  width: 100%;
  height: 100%;
}
